<%- include('common/header') %>
<%- include('common/post-item') %>
<!-- 文章留言列表 -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<h3>留言</h3>
			<% comments.forEach(function (commnet) { %>
				<div class="container container-commnet">
					<div class="col-md-1">
						<a href="/posts?author=<%= commnet.author._id %>" class="avatar avatar-comment">
							<img class="avatar-cover" src="/images/<%= commnet.author.avatar %>" alt="">
						</a>
					</div>
					<div class="col-md-11">
						<div class="comment">
							<div class="comment-head">
								<strong><%= commnet.author.name %></strong>&nbsp;<%= commnet.author.created_at %>
								<% if(user && commnet.author._id && user._id.toString() === commnet.author._id.toString()) { %>
									<a class="btn btn-link" href="/posts/<%= post._id %>/comment/<%= commnet._id %>/remove">删除</a>
								<% } %>
							</div>
							<div class="comment-content"><%- commnet.content %></div>
						</div>
					</div>
				</div>
			<% }) %>


			<% if(user) {%>
				<!-- 留言框 -->
				<form method="post" role="form" action="/posts/<%= post._id %>/comment">
					<div class="form-group">
						<textarea name="content" class="form-control" id="post-content" rows="4">good work</textarea>
					</div>
					<button type="submit" class="btn btn-success">留言</button>
				</form>
			<% } %>

		</div>
	</div>

</div>
<%- include('common/footer') %>