<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width">
  	<title><%= title %></title>
  	<link rel="stylesheet" href="/css/bootstrap.css">
  	<link rel="stylesheet" href="/css/blogs.css">
  </head>
  <body>
  <header class="container container-header">
  	<nav class="header-nav pull-right">
  		<% if(user) { %>
			<span class="text-success"></span>
			<a href="/posts?author=<%= user._id %>"><%= user.name %></a>
			<a href="/posts/create" class="text-primary">发布新文章</a>
			<a href="/signout">登出</a>
		<% } else { %>
			<a href="/signin" class="text-danger">请登录</a>
  			<a href="/signup">注册</a>
		<% } %>
  	</nav>
  	<div class="header-title text-center">
  		<h1 class="text-success">BlogN</h1>
  		<h4 class="text-muted">blogs blogs</h4>
  	</div>
  	<% if (error) { %>
  	<div class="notification bg-danger">
  		<span class="text-danger"><%= error %></span>
  	</div>
  	<% } %>
  	<% if(success){ %>
  	<div class="notification bg-success">
  		<span class="text-success"><%= success %></span>
  	</div>
  	<% } %>
  </header>

