<h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
<pre class="post-content"><%- post.content %></pre>
<p class="post-footer">
	<span class="post-tag"><%= post.created_at %></span>
	<span class="post-tag">
		<span class="post-pv">浏览(<%= post.pv %>)</span>
		<span class="post-comment">留言(96)</span>
		<% if(user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
			<a href="/posts/<%= post._id %>/edit" class="btn btn-link">编辑</a>
			<a href="/posts/<%= post._id %>/remove" class="btn btn-link">删除</a>
		<% } %>
	</span>
</p>